.container {
  width: 285px;
  height: 803px;
  margin: 0;
  padding: 0;
}

.container img {
  width: 200px;
  height: auto;
  margin-bottom: 56px;
}

.container hr {
  color: rgba(0, 219, 222, 1);
  box-shadow: 0px 15px 25px 1px rgba(0, 219, 222, 1);
}

.container h3 {
  width: 70%;
  margin: auto;
}
